ignore-scripts=false
ignore-scripts=false
registry=https://npm.gofo.app
//npm.gofo.app/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJzaHViaGFtIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sIm5hbWUiOiJzaHViaGFtIiwiZ3JvdXBzIjpbInNodWJoYW0iLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNzcxNTY1MjE5LCJuYmYiOjE3NzE1NjUyMTksImV4cCI6MTc3NDA3MDgxOX0.3B9gfvTyy0dJgoMvrMyiBniKPo5J42kUnmDgZEsNMIo
//localhost:4873/:_authToken="MDZlNTZjNTg1ODI1ODUyM2Y1NTA1YmQxMWE2YmY2NzM6MTMxMzQyMjE3ODMxOTBkOTEyM2I3OQ=="
always-auth=true
